<div class='row'>
  <div class='logo'>
    <%= image_tag('birdflight.png', id:'birdflight') %>
    <h1>Rise Up Resource</h1>
  </div>
</div>
<hr/>
<div style='width: 800px;'>
<div id="map" style='width: 800px; height: 400px;'></div>
</div>

