// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import 'bootstrap';

body, html {
  height: 100%;
  margin: 0;
  font-family: Raleway, sans-serif;
}

/////////// header/logo
.logo {
  text-align: center;
  margin: 0;
  z-index: 10;
  position: relative; 
  width: 100%;
  top: 0;
  
#birdflight {
  float: left;
  top: 0;
  height: 200px;
}

h1{
  color: goldenrod;
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  position: absolute; 
  left: 0; 
  top: 65px;
  width: 100%; 
 }
}

/////////// navbars
.navbar-link {
  color: black;
  padding: 1px;
}
.navbar-link-1 {
  color: white;
  text-align: center;
  opacity: .7;
  padding: 8px;
  width: 100%;
}
:any-link:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}

.resource-nav {
  padding: 5px;
}
nav {
  background-color: white;
  font-family: Raleway, sans-serif;
  font-weight: 600;
}

.navbar-next {
  padding: 2px;
  color: goldenrod;
  text-align: center;
  background: black;
}


/////////// google maps 
#map {
height: 600px;
width: 600px;
margin-top: 50px;
}

.map-row {
  margin-left: 245px;
}

