// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import 'bootstrap';

body, html {
  height: 100%;
  margin: 0;
  font-family: Raleway, sans-serif;
  background-color: whitesmoke;
  padding: 10px;
}

/////////// header/logo
.logo {
  text-align: center;
  margin: 0;
  z-index: 10;
  position: relative; 
  width: 100%;
  top: 0;
  
#birdflight {
  float: left;
  top: 0;
  height: 200px;
}

h1{
  color: goldenrod;
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  position: absolute; 
  left: 0; 
  top: 65px;
  width: 100%; 
 }
}

/////////// navbars
.navbar-link {
  color: black;
  padding: 1px;
  opacity: .7;
  font-weight: 400;
}
.navbar-link:hover {
  text-decoration: none;
  color: #353333;
  opacity: 1;
  font-weight: 800;
} 

.navbar-link-1 {
  color: white;
  text-align: center;
  opacity: .7;
  padding: 8px;
  width: 100%;
}
.navbar-link-1:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}

.resource-nav {
  padding: 5px;
}

.nav-row {
 margin: 5px;
}

nav {
  font-family: Raleway, sans-serif;
  font-weight: 600;
}

.navbar-next {
  padding: 2px;
  color: goldenrod;
  text-align: center;
  background: black;
}

li {
  list-style: none;
}

.weekday-sort-links {
  padding: 2px;
  color: black;
  text-align: center;
  border: 2px solid black;
  background: goldenrod;
  margin: 2px;
  border-radius: 2px;
}
.weekday-sort-links:hover {
  text-decoration: none;
  border: 3px solid goldenrod;
  color: black;
} 

.weekday-sort-list {
  text-align: center;
  margin-top: 35px;
}

.service-header {
  margin-top:25px;
  text-align: center;
}

.service-list {
  text-align: center;
  margin-top: 10px;
}

.no-service {
  margin-top: 20px;
  text-align: center;
}

/////////// google maps 
#map {
height: 300px;
width: 300%;
margin-top: 50px;
left: 0;
}

.map-row {
  margin-left: 245px;
}


.col-md-6 {
  width: 50%;
}